* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(4, 0, 65);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

body::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(#fec006, #fff, #009dff);
  border-radius: 20px;
  width: 6px;
  width: 6px;
}

hr {
  width: 95%;
  margin: auto;
  opacity: 40%;
}

#cursor {
  height: 10px;
  width: 10px;
  background: radial-gradient(#72f274, #f7b968);
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
}

#cursor-br {
  height: 200px;
  width: 200px;
  background: radial-gradient(rgba(254, 192, 6, 0.2549019608), rgba(255, 255, 255, 0.3843137255), rgba(0, 157, 255, 0.3647058824));
  filter: blur(50px);
  border-radius: 50%;
  position: fixed;
}

main {
  background-size: cover;
  min-height: 100vh;
}
main header {
  z-index: 10;
  position: sticky;
  top: 0;
  width: 100%;
  height: 4em;
  background-color: rgba(0, 0, 0, 0.2823529412);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
main header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}
main header nav .nav-left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main header nav .nav-left a img {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main header nav .nav-right {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}
main header nav .nav-right a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 1em;
  opacity: 50%;
  display: flex;
  transition: all ease 0.1s;
  position: relative;
}
main header nav .nav-right a:hover {
  opacity: 100%;
  color: #fec006;
  cursor: pointer;
  scale: 1.1;
}
main header nav .nav-right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, #fec006, #fff, #009dff);
  transition: all ease 0.5s;
}
main header nav .nav-right a:hover::after {
  width: 100%;
}
main nav img:hover {
  cursor: pointer;
}
main #home {
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 7rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(bg1.png);
  background-size: cover;
  background-position: bottom;
}
main #home #top-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
main #home #top-home h1 {
  text-align: center;
  font-size: 4rem;
  width: 40%;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #home #top-home h1::-moz-selection {
  color: #fec006;
}
main #home #top-home h1::selection {
  color: #fec006;
}
main #home #top-home p {
  font-size: 1.5rem;
  color: #fff;
}
main #home #top-home button {
  margin-top: 20px;
  padding: 1.1rem 3rem;
  border-radius: 30px;
  background: linear-gradient(to right, #fec006, #fff, #009dff);
  color: #000;
  font-size: 1em;
  border: 1px solid #fff;
  transition: all ease 0.5s;
  box-shadow: 5px 5px 10px rgb(99, 99, 99);
}
main #home #top-home button:hover {
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0);
}
main #home #bottom-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main #home #bottom-home #para1 {
  font-size: 1.8rem;
  color: #fff;
  position: relative;
  z-index: 1;
}
main #home #bottom-home #para2 {
  font-size: 1.8rem;
  color: #ffc400;
  position: absolute;
  padding: 2px;
  filter: blur(10px);
}
main #home #bottom-home .logos {
  display: flex;
  gap: 1rem;
  width: 70%;
  justify-content: space-around;
}
main #services {
  padding-top: 4rem;
  width: 100%;
  height: 100%;
  color: #fff;
}
main #services h2 {
  color: #fff;
  font-size: 7rem;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #services h4 {
  font-size: 3rem;
  color: #fec006;
}
main #services .service-box-1 {
  padding: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
}
main #services .service-box-1 .left-service {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
main #services .service-box-1 .left-service h3 {
  font-size: 5rem;
}
main #services .service-box-1 .left-service p {
  width: 70%;
  font-size: 1.5rem;
}
main #services .service-box-1 .left-service ul {
  padding-left: 3rem;
  font-size: 1rem;
}
main #services .service-box-2 {
  padding: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;
}
main #services .service-box-2 .right-services {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
main #services .service-box-2 img {
  width: 100%;
  height: auto;
  display: block;
}
main #services .service-box-2 .left-service {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
main #services .service-box-2 h3 {
  font-size: 5rem;
}
main #services .service-box-2 p {
  width: 70%;
  font-size: 1.5rem;
}
main #services .service-box-2 ul {
  padding-left: 3rem;
  font-size: 1rem;
}
main #services .service-box-3 {
  padding: 4rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
}
main #services .service-box-3 .left-service {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}
main #services .service-box-3 .left-service h3 {
  font-size: 5rem;
}
main #services .service-box-3 .left-service p {
  width: 70%;
  font-size: 1.5rem;
}
main #services .service-box-3 .left-service ul {
  padding-left: 3rem;
  font-size: 1rem;
}
main #featured-work {
  padding: 4rem;
  width: 100%;
}
main #featured-work h2 {
  font-size: 7rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #featured-work #work-box-1 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
  border: 1px solid white;
}
main #featured-work #work-box-1 #right-work-box-1 {
  padding: 4rem;
}
main #featured-work #work-box-1 #right-work-box-1 h4 {
  font-size: 2rem;
  color: #fff;
}
main #featured-work #work-box-1 #right-work-box-1 h3 {
  font-size: 4rem;
  color: #93d5ff;
}
main #featured-work #work-box-1 #right-work-box-1 p {
  font-size: 1.5rem;
  color: #fff;
  opacity: 70%;
}
main #featured-work #work-box-1 #right-work-box-1 a {
  text-decoration: none;
  color: #ffc400;
  font-size: 1.5rem;
}
main #stat {
  display: flex;
  align-items: center;
  justify-content: center;
}
main #stat .stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  width: 80%;
  max-width: 1200px;
}
main #stat .stats-grid .stat-item {
  background-color: #0b043b;
  color: #fff;
  padding: 30px;
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
}
main #stat .stats-grid .stat-item .stat-number {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 10px;
  background-image: url(bg2.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #stat .stats-grid .stat-item .stat-label {
  font-size: 2rem;
}
main #team {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #team h2 {
  font-size: 7rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #team .team-grid {
  display: flex;
  gap: 20px;
}
main #testimonals h2 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(bg3.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}
main #testimonals #cards-wrap {
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
main #testimonals #cards-wrap #testominal-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #27264a;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 30rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}
main #testimonals #cards-wrap .info {
  display: flex;
  gap: 2rem;
  align-items: center;
}
main #testimonals #cards-wrap .info .info-img {
  border-radius: 50%;
}
main #end-message h3 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(bg2.png);
  background-size: cover;
  background-position: right;
  -webkit-background-clip: text;
  color: transparent;
}

footer {
  height: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */